body {
  font-family: $main-font-family;
  font-size: $main-font-size;
  letter-spacing: $main-letter-spacing;
  background-color: $container;
  color: $primary-color;
}

body.modal-open{
  overflow: hidden;
}

.photo {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}