// button-hero

.section-main__btn {
  @include fonts(700, 16px, 1.87, 0.06em);
  padding: 10px 32px;
  background-color: $primary-btn-color;
  box-shadow: 0px 2px 2px 1px rgb(0 0 0 /12%);
  color: $btn;
  font-family: inherit;

  cursor: pointer;
  border-radius: 4px;
  border: 0;
  transition: background-color $transition-background-color;

  &:hover,
  &:focus {
    background-color: $btn-secondary;
    box-shadow: 0px 2px 2px 1px rgb(0 0 0 /12%);
  }
  &:focus {
    outline: 1px solid $btn;
  }
}

// button-footer

.form-footer__btn {
  @media screen and(max-width:1200px) {
    margin: 20px auto 0 auto;
  }

  @include fonts(700, 16px, 1.87, 0.06em);
  @include centeredFlex();
  font-family: inherit;
  min-width: 200px;
  height: 50px;
  background: $primary-btn-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: $btn;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $btn-secondary;
    box-shadow: 0px 2px 2px 1px rgb(0 0 0 /12%);
  }
  &:focus {
    outline: 1px solid $btn;
  }
}
