////////// section-portfolio //////////

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and(max-width:479px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media screen and(min-width:480px) and(max-width:1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

////////// work-portfolio //////////

.work-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__frame {
    position: relative;
    overflow: hidden;
  }

  &__overlame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    opacity: 0;
    transition: transform $transform-transform, opacity $transform-transform;
  }

  &__text {
    @include fonts(null, 18px, 1.55, null);
    padding: 63px 24px;
    color: $container;
  }

  &__texticon {
    @include fonts(700, 18px, 2, 0.06em);
    color: $primary-color;
  }

  &__job {
    @include fonts(null, 16px, 1.87, null);
    color: $secondary-color;
    margin-top: 4px;
  }

  &__link {
    display: block;
    height: 100%;
    text-decoration: none;
    transition: box-shadow $transform-transform;
  }

  &__list {
    width: 100%;
    @media screen and(min-width:767px) {
      width: 370px;
      margin: 0;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 30px) / 2);
      height: auto;
    }
  }

  &__list:hover &__overlame {
    transform: translateY(0);
    opacity: 1;
  }

  &__hidden {
    overflow: hidden;
    padding: 20px 20px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }

  &__link:hover,
  &__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
