//////////section-main//////////


.section-main {
  max-width: 1600px;
  margin: 0 auto;
  background-color: $background-hero;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;

  &__block {
    display: block;
    text-align: center;
    max-width: 696px;
  }

  &__text {
    margin-bottom: 30px;
    color: $container;
    text-transform: uppercase;
    @include fonts (900, 44px, 1.36, 0.06em);

    @media screen and (max-width:767px) {
      @include fonts (900, 26px, 1.61, 0.06em);
    }
  }
}


//////////about-section//////////


.about-section {
  padding-top: 94px;

  @media screen and(max-width:1200px) {
    padding-top: 60px;
  }
}

//////////about//////////



.about {
  @media screen and (max-width:480px) {
    text-align: center;
  }

  &__list {
    @media screen and (max-width:1200px) {
      padding-bottom: 40px;
      display: flex;
      flex-wrap: wrap;
      margin: 0px -15px;
    }

    display: flex;
  }

  &__item {
    @media screen and(min-width:768px) and (max-width:1199px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;

      &__item:nth-child(-n + 2) {
        margin-top: 0;
      }

      &__item:nth-child(n + 3) {
        margin-bottom: 0;
      }
    }
  }

  &__frame {
    height: 120px;
    display: flex;
    background-color: $our-team-nav-prtf;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &__svg {
    width: 70px;
    height: 70px;
  }

  // &__item:nth-child(1)::before {
  //   background-image: url(/images/svg/antenna.svg);
  // }
  // &__item:nth-child(2)::before {
  //   background-image: url(/images/svg/clock.svg);
  // }
  // &__item:nth-child(3)::before {
  //   background-image: url(/images/svg/diagram.svg);
  // }
  // &__item:nth-child(4)::before {
  //   background-image: url(/images/svg/astronaut.svg);
  // }

  &__text {
    @media screen and(min-width:480px) {
      text-align: center;
    }

    @include fonts (700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
  }

  &__title {
    color: $secondary-color;
    line-height: 1.71;
    margin-top: 10px;
  }
}

//////////work-section//////////

.work-section {
  @media screen and (max-width:1200px) {
    display: none;
  }

  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

//////////work//////////

.work {
  @media screen and (max-width:1200px) {
    display: none;
  }

  &__list {

    display: flex;
    margin-top: 50px;
  }

  &__item {
    position: relative;
  }

  &__title {
    position: absolute;
    @include fonts (700, 14px, 1.14, 0.03em);
    @include centeredFlex();
    width: 370px;
    height: 70px;
    bottom: 0;
    text-transform: uppercase;
    color: $container;
    background-color: rgba(47, 48, 58, 0.8);
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

///////////section-team//////////

.section-team {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $our-team-nav-prtf;

  @media screen and(max-width:1200px) {
    padding: 60px 0px;
  }
}

//////////our-team//////////

.our-team {
  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $container;
  }

  &__item {
    @media screen and(max-width:767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and(min-width:768px) and(max-width:1199px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;

      &:nth-child(-n + 2) {
        margin-top: 0;
      }

      &:nth-child(n + 3) {
        margin-bottom: 0;
      }
    }
  }

  &__frame {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__textname {
    @include fonts (500, 16px, 1.18, null);
    color: $primary-color;
    margin-bottom: 10px;
  }

  &__text {
    @media screen and (max-width:480px) {
      @include fonts (null, 24px, 1.16, null);
    }

    @media screen and (min-width:480px) {
      @include fonts (null, 28px, 1.16, null);
      margin-bottom: 30px;
    }

    @include fonts (700, 36px, 1.16, null);
  }

  &__list {
    @media screen and(min-width:768px)and(max-width:1199px) {
      display: flex;
      flex-wrap: wrap;
      margin: 0px -15px;
    }

    @media screen and(min-width:1200px) {
      display: flex;
      gap: 30px;
    }
  }

  &__textjob {
    color: $secondary-color;
    font-size: 16px;
    line-height: 1.18;
  }

  &__icons {
    @include centeredFlex();
    margin-top: 16px;
    gap: 10px;
  }
}

//////////section-clients/////////

.section-clients {
  @media screen and (max-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  padding-top: 94px;
  padding-bottom: 94px;
}

// clients

.clients {
  &__text {
    @media screen and (min-width: 480px) {
      @include fonts (null, 28px, 1.16, null);
      margin-bottom: 30px;
    }

    @media screen and (max-width:480px) {
      @include fonts (null, 24px, 1.16, null);
    }

    @include fonts (null, 44px, 1.16, null);
    text-align: center;
    color: $primary-color;
    margin-bottom: 50px;
  }


  &__list {
    @media screen and (max-width: 480px) {
      margin: 0px -15px;
    }

    @media screen and (min-width:480px)and (max-width:1199px) {
      display: flex;
      flex-wrap: wrap;
      margin: 0px -15px;
    }

    @media screen and (min-width:1200px) {
      display: flex;
      gap: 30px;
      align-items: baseline;
    }
  }

  &__item {
    @media screen and (max-width:480px) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }


    @media screen and (min-width:480px) and (max-width:767px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;

      &:nth-child(-n + 2) {
        margin-top: 0;
      }

      &:nth-child(n + 5) {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width:768px)and (max-width:1199px) {
      width: calc((100% - 6 * 15px) / 3);
      margin: 15px;
    }
  }

  &__link {

    @media screen and (max-width: 1199px) {
      width: 100%;
    }

    @include centeredFlex();
    border-radius: 4px;
    width: 170px;
    height: 92px;
    border: 1px solid $network;
    color: $network;
    transition: $transform-transform,
    border-color $transform-transform;
  }

  &__link:hover,
  &__link:focus {
    border-color: $logo-web;
    color: $logo-web;
  }

  &__svg {
    width: 106px;
    height: 60px;
    fill: currentColor;

    &:hover {
      fill: currentColor;
    }
  }
}