////////// section-main //////////

.section-main {
  &__block {
    display: block;
    text-align: center;
    max-width: 696px;
  }

  &__text {
    margin-bottom: 30px;
    color: $container;
    text-transform: uppercase;
    @include fonts(900, 42px, 1.36, 0.06em);

    @media screen and (max-width: 767px) {
      @include fonts(900, 26px, 1.61, 0.06em);
    }
    @media screen and (max-width: 379px) {
      font-size: 20px;
    }
  }
}

//////////about-section//////////

.about-section {
  padding-top: 94px;

  @media screen and(max-width:1200px) {
    padding-top: 60px;
  }
}

//////////about//////////

.about {
  &__list {
    display: flex;
    gap: 30px;
    @media screen and (max-width: 1199px) {
      padding-bottom: 40px;
      flex-wrap: wrap;
    }
  }

  &__item {
    @media screen and(min-width:768px) {
      width: calc((100% - 30px) / 2);
    }
  }

  &__frame {
    height: 120px;
    display: flex;
    background-color: $our-team-nav-prtf;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &__svg {
    width: 70px;
    height: 70px;
  }

  &__text {
    @media screen and (max-width: 767px) {
      text-align: center;
    }
    @include fonts(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
  }

  &__title {
    color: $secondary-color;
    line-height: 1.71;
    margin-top: 10px;
  }
}

////////// work-sectio n//////////

.work-section {
  @media screen and (max-width: 1200px) {
    display: none;
  }

  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

////////// work //////////

.work {
  &__text{
  color:var($primary-color);

  @media screen and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    @include fonts(700, 36px, 1.16, null);
  }
}

  &__list {
    display: flex;
    margin-top: 50px;
  }

  &__item {
    position: relative;
  }

  &__title {
    position: absolute;
    @include fonts(700, 14px, 1.14, 0.03em);
    @include centeredFlex();
    width: 370px;
    height: 70px;
    bottom: 0;
    text-transform: uppercase;
    color: $container;
    background-color: rgba(47, 48, 58, 0.8);
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

/////////// section-team //////////

.section-team {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $our-team-nav-prtf;

  @media screen and(max-width:1199px) {
    padding: 60px 0px;
  }
}

////////// our-team //////////

.our-team {
  &__list {
    @media screen and(min-width:768px) and(max-width:1199px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

    @media screen and(min-width:1200px) {
      display: flex;
      gap: 30px;
    }
  }
  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $container;
  }

  &__item {
    @media screen and(max-width:767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and(min-width:768px) and(max-width:1199px) {
      width: calc((100% - 30px) / 2);
    }
  }

  &__frame {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__textname {
    @include fonts(500, 16px, 1.18, null);
    color: $primary-color;
    margin-bottom: 10px;
  }

  &__text {
    color: $primary-color;
    
    @media screen and (max-width: 1199px) {
      @include fonts(700, 28px, 1.17, null);
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      @include fonts(700, 36px, 1.16, null);
      margin-bottom: 50px;
    } 
  }

  &__textjob {
    color: $secondary-color;
    font-size: 16px;
    line-height: 1.18;
  }

  &__icons {
    @include centeredFlex();
    margin-top: 16px;
    gap: 10px;
  }
}

////////// section-clients /////////

.section-clients {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  padding-top: 94px;
  padding-bottom: 94px;
}

////////// clients //////////

.clients {
  &__text {
    text-align: center;
    color: $primary-color;
    margin-bottom: 50px;
    
    @media screen and (max-width: 1199px) {
    @include fonts(700, 28px, 1.17, null);
      margin-bottom: 30px;
    }
    
    @media screen and (min-width: 1200px) {
      @include fonts(700, 36px, 1.16, null);
    } 
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    @media screen and (max-width: 1199px) {
      width: calc((100% - 60px) / 3);
    }
    @media screen and (max-width: 767px) {
      width: calc((100% - 30px) / 2);
    }
  }

  &__link {
    @media screen and (max-width: 1199px) {
      width: 100%;
    }

    @include centeredFlex();
    border-radius: 4px;
    width: 170px;
    height: 92px;
    border: 1px solid $network;
    color: $network;
    transition: $transform-transform, border-color $transform-transform;
  }

  &__link:hover,
  &__link:focus {
    border-color: $logo-web;
    color: $logo-web;
  }

  &__svg {
    width: 106px;
    height: 60px;
    fill: currentColor;

    &:hover {
      fill: currentColor;
    }
  }
}
