.btn-menu-mobile {
  display: inline-flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
  z-index: 3;
  &:active {
    fill: $logo-web;
  }
  @media screen and(min-width: 768px) {
    display: none;
  }
}

.btn-menu-mobile.is-open .icon-mobile {
  display: block;
}

.social-network__list {
  display: flex;
}

.btn-menu-mobile.is-open .icon-close-mobile {
  display: none;
}

.btn-menu-mobile .icon-mobile {
  display: none;
}

.menu-container {
  background-color:$container;
  z-index: 1;

  @media screen and(max-width:767px) {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    padding: 48px 40px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms linear, visibility 250ms linear;

    &.is-open {
      display: block;
      opacity: 1;
      visibility: visible;
      pointer-events: initial;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    }
  }

  @media screen and(min-width:768px) {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
}

.social-network {
  display: inline-block;
  &__list {
    @media screen and(max-width:479px) {
      display: flex;
      gap: 10px;
    }
  }
  &__item {
    color: $logo-web;

    @media screen and(max-width:479px) {
      @include fonts(500, 14px, 1.57, 0.02em);
    }

    @media screen and(min-width:480px) and(max-width:767px) {
      @include fonts(500, 18px, 1.22, 0.02em);
    }
    @media screen and(min-width:480px) {
      &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
      }
    }
  }

  &__link {
    color: $logo-web;
  }
  
  .social-network__link {
    @media screen and(min-width:479px) {
      padding: 10px 10px;
    }
  }
  
  @media screen and(min-width:767px) {
    display: none;
  }
}
